<div class="data-wrapper">

    <div class="form-row">
        <mat-form-field appearance="fill">
            <mat-label>Concentradores</mat-label>
            <mat-select [formControl]="selectedConcentrador" (selectionChange)="changeItem($event.value)">
              <mat-select-trigger>
                {{selectedConcentrador.value ? selectedConcentrador.value.area : ''}}
              </mat-select-trigger>
              <mat-option *ngFor="let concentrador of concentradores" [value]="concentrador">{{concentrador.area}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="margin" *ngIf="idConcentrador" appearance="fill">
            <mat-label>Sensores</mat-label>
            <mat-select [formControl]="selectedSensor" (selectionChange)="selectSensor($event.value)">
              <mat-select-trigger>
                {{selectedSensor.value ? selectedSensor.value.area : ''}}
              </mat-select-trigger>
              <mat-option *ngFor="let sensor of sensores" [value]="sensor">{{sensor.area}}</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    



    <div class="row" *ngIf="idConcentrador">

        <table mat-table [dataSource]="tableData" class="grow" matSort>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="sensor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Área do Sensor</th>
                <td mat-cell *matCellDef="let element"> {{element.sensor}} </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div style="align-self: flex-end;" class="action-row">
        <mat-paginator [length]="totalValues" [pageSizeOptions]="pageSizeOptions" (page)="getValues($event)">
        </mat-paginator>
    </div>
</div>