<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-wrapper">

    <div class="header">
        <h1>Bem vindo!🚀</h1>
        <h3>Faça login para poder visualizar os seus dados</h3>
    </div>

    <div class="card">

        <div class="input-group">
            <input type="text" placeholder="username" formControlName="username">
        </div>

        <div class="input-group">
            <input type="password" placeholder="********" formControlName="password">
        </div>

        <button [disabled]="loginForm.invalid" class="btn small">
            <span translate>Login</span></button>

        <span class="signup" (click)="goToRegister()">Registe-se aqui!</span>
    </div>

</form>