.data-wrapper {
  padding: 25px;

  .form-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;

    .margin {
      margin-left: 15px;
    }

    .btn-container{
        margin-left: auto;
    }
  }

  .action-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .toogle {
      display: flex;
      flex-direction: column;
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .grow {
      flex: 1;
      padding: 5px;
    }
  }
}

@media (max-width: 900px) {
  .data-wrapper {
    .row {
      flex-direction: column;
    }
  }
}
